body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7d6e0;
    color: #333333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 20px 0;
}
.wireframe-img {
    max-width: 100%;
    height: auto;
    width: 500px; 
}
h1, h2 {
    font-family: 'Merriweather', serif;
    color: #9b2226;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}
